.best-thing {
  display: none;
}

@media (min-width: 768px) {
  .best-thing {
    display: flex;
    justify-content: space-between;
    margin: 10px 10px 15px;


    .best-thing__items {
      background: #000;
      opacity: 0.3;
      padding: 15px;
      list-style: none;
      border-radius: 5px;
      position: relative;
      z-index: 1;

      .best-thing__items-bg {
        text-align: center;
      }

      .best-thing__items-name {
        color: #a5a5a5;
        font-size: 13px;
      }
    }
  }
}