.best-thing {
  display: none;
}

@media (min-width: 480px) {
  .best-thing {
    margin: 10px 20px 15px;
    display: flex;
    justify-content: space-between;

    .best-thing__items {
      position: relative;
      z-index: 1;
      width: 100px;
      padding: 5px;
      text-align: center;
      list-style: none;
      border-radius: 5px;
      background: #000;
      opacity: .3;

      .best-thing__items-name {
        color: #a5a5a5;
        font-size: 10px;
        margin-top: -5px;
      }
    }
  }
}

@media (min-width: 768px) {
  .best-thing {

    .best-thing__items {
      margin-top: 6px;
      width: 140px;
      padding: 15px 0;

      .best-thing__items-name {
        font-size: 12px;
        margin-top: 2px;
      }
    }
  }
}