.box-content {
  position: relative;
  flex: 1;
  background: #fff;

  .box-content__tag-line {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 5px;

    h1 {
      font-size: 24px;
      font-weight: normal;
    }

    h2 {
      font-size: 20px;
      font-weight: normal;
    }

    .box-content__tag-line-link {
      color: #970f06;
      text-decoration: none;
    }
  }

  .box-content__bg {
    display: none;
  }
}

@media (min-width: 480px) {
  .box-content {
    padding: 0 15px;

    &:before, &:after {
      content: '';
      display: block;
      position: absolute;
      z-index: 10;
    }

    &:before {
      background: url($img-path + 'pizza.png') no-repeat;
      width: 129px;
      height: 85px;
      bottom: -83px;
      left: 8px;
      background-size: 87px auto;
    }

    &:after {
      background: url($img-path + 'cheese.png') no-repeat;
      width: 104px;
      height: 79px;
      bottom: -72px;
      right: -13px;
      background-size: 70px auto;
    }

    .box-content__bg {
      display: block;
      width: 147px;
      position: absolute;
      top: -34px;
      left: -17px;
    }

    .box-content__tag-line {
      text-align: right;
      margin-bottom: 25px;

      h1 {
        font-size: 25px;
      }
    }
  }
}

@media (min-width: 768px) {
  .box-content {
    &:after {
      bottom: -58px;
      right: -37px;
      background-size: auto;
    }

    &:before {
      background-size: auto;
      bottom: -76px;
    }

    .box-content__tag-line {
      margin-top: 0;
      margin-bottom: 30px;
      h1 {
        font-size: 25px;
      }

      h2 {
        font-size: 20px;
      }
    }

    .box-content__bg {
      width: 344px;
      top: -119px;
      left: -77px;
    }
  }
}

@media (min-width: 1024px) {
  .box-content {
    .box-content__bg {
      top: -124px;
    }
    .box-content__tag-line {
      margin-bottom: 60px;
    }
  }
}



